repos:
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.5.0
    hooks:
      # this will automatically fix whatever checks it can
      - id: sqlfluff-fix
        additional_dependencies:
          - sqlfluff-templater-dbt==3.5.0
          - dbt-postgres==1.9.1
        language: python
        args:
          - --config=pyproject.toml
        files: ^models/.*\.sql$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
        types: [yaml]
